.envrc
plan.out
.terraform
terraform.tfstate*
.terraform.tfstate*
terraform.tfvars
plan.out
.vagrant
.kubeconfig
vagrant/creds/
codecov.yml
*/creds/*
kubeconfig_default-codecov-cluster
config-map-aws-auth_default-codecov-cluster.yaml
*.log
ssh_key.pub
