setup:
  codecov_url: https://codecov.yourdomain.com
  enterprise_license: "Codecov-Enterprise-License-Key"
  http:
    cookie_secret: "cookie-secret"
github:
  client_id: "example-client-id"
  client_secret: "example-client-secret"
services:
  ci_providers:
  minio:
    client_uploads: true

#gitlab_enterprise:
#  ssl_pem: /cert/scm_ca_cert.pem
