setup:
  codecov_url: https://your.domain.com   # do not include a trailing slash
  enterprise_license: your-enterprise-license
  http:
    cookie_secret: your-cookie-secret
github:
  client_id: github-oauth-app-client-id
  client_secret: github-oauth-app-client-secret
services:
  ci_providers:
  database_url: postgres://user:pass@host:port/database
  redis_url: redis://host:port
  minio:
    host: minio-host
    port: 9000
    bucket: archive
    access_key_id: minio-access-key-id
    secret_access_key: minio-secret-key
    client_uploads: true
